.feature-card-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.feature-card {
  cursor: pointer;
  transition: transform 0.5s;
}
.feature-card:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.feature-card-content h2 {
  font-size: 14px;
}
.feature-card-image {
  height: 150px;
}
.feature-card-content p {
  font-size: 13px;
  font-weight: 300;
  color: rgb(0 0 0 / 0.5);
}
.feature-card-content {
  background: #fff;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.feature-card-content .fa {
  font-size: 12px;
}
