.contact-form-section {
  margin-top: 80px;
  background-color: #f8f9fa;
}
.contact-head h2 {
  font-size: 24px;
}
.contact-head {
  padding-bottom: 20px;
}
.form-input label {
  display: block;
  padding-bottom: 5px;
  font-size: 16px;
}
.form-input input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.form-input textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.form-input textarea:focus {
  outline: none;
}
.form-input input:focus {
  outline: none;
}
.form-input {
  margin-bottom: 20px;
}
.name-setion .form-input {
  width: 48%;
}
.name-setion {
  display: flex;
  justify-content: space-between;
}
.contact-text .contact-text-head h2 {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 500;
}
.contact-text {
  width: 80%;
  margin: 0px auto;
}
.contact-text .contact-text-head {
  padding-bottom: 15px;
}
.contact-text .contact-text-head p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 5px;
}
.contact-text .contact-text-head span {
  color: #e45b36;
  font-size: 16px;
}
.contact-form .send-btn .btn {
  display: inline-block;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  font-size: 12px;
}
.contact-form .send-btn .btn:focus {
  outline: none !important;
  background-color: #000 !important;
  color: #fff !important;
}
.contact-form .form-input span {
  color: red;
  font-size: 16px;
  font-weight: 400;
}
.contact-form .btn-primary {
  border-color: transparent;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important;
  border-color: none !important;
}
.btn.focus,
.btn:focus {
  box-shadow: none !important;
}
.btn-primary:hover {
  border-color: transparent !important;
}
/* Responsive */
@media only screen and (max-width: 1200px) {
  .contact-text {
    width: 95%;
  }
}
@media only screen and (max-width: 991px) {
  .contact-text {
    width: 100%;
  }
  .contact-text .contact-text-head h2 {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .contact-text .contact-text-head p {
    font-size: 14px;
  }
  .contact-text .contact-text-head span {
    font-size: 14px;
  }
  .form-input label {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .form-input input {
    font-size: 12px;
  }
  .contact-text {
    margin-top: 30px;
  }
  .contact-form .form-input span {
    font-size: 12px;
  }
  .name-setion .form-input {
    width: 49%;
  }
}
