.welcome-head h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
.popular-service {
  padding-top: 50px;
}
.banner-section {
  height: 70vh;
  position: relative;
}
.banner-section .overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.1);
  position: absolute;
}
.banner-form {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner-form h2 {
  text-align: center;
  color: #fff;
  font-size: 34px;
  font-weight: 500;
}
.input-section {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-input {
  width: 42%;
  position: relative;
}
.custom-input span {
  position: absolute;
  right: 10px;
  top: 0px;
}
.search-btn {
  width: 13%;
}
.search-btn a:hover {
  background-color: #fc0400;
  color: #fff;
}
.search-btn a {
  color: #fff;
  background-color: #e45b36;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.custom-input input {
  width: 100%;
  border: none;
  font-size: 16px;
  border-right: 1px solid #e8e8e8;
  padding: 0px 20px;
  line-height: 26px;
  font-weight: 300;
}
.custom-input input:focus {
  outline: none !important;
}
.banner-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular-card-section {
  padding-top: 40px;
}
.welcome-head {
  padding-bottom: 10px;
}
.welcome-desc p {
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 15px;
}
.welcome-desc p:nth-child(2) {
  padding-bottom: 0px;
}
.feature-card-section {
  margin-top: 40px;
}
.powerful-section-text h2 {
  font-size: 40px;
  line-height: 50px;
  padding-bottom: 15px;
}
.powerful-section-text p {
  font-size: 16px;
  font-weight: 300;
}
.powerful-section-count-list ul li {
  display: inline-block;
  vertical-align: text-top;
  width: 50%;
  margin-bottom: 35px;
}
.powerful-section-count-list ul li:nth-child(3) {
  margin-bottom: 0px;
}
.powerful-section-count-list ul li:nth-child(4) {
  margin-bottom: 0px;
}
.powerful-section-count-list ul li h2 {
  font-size: 30px;
}
.powerful-section-count-list ul li label {
  font-size: 16px;
  font-weight: 300;
}

.mobile-app-img {
  height: 400px;
}
.mobile-app-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mobile-app-text-section {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-app-text-section h2 {
  padding-bottom: 10px;
}
.mobile-app-text-section p {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
}
.mobile-app-icon-section {
  display: flex;
  padding-top: 20px;
}
.mobile-app-icon-list {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 6px;
  margin-right: 10px;
}
.mobile-app-icon-list h3 {
  font-size: 12px;
  font-weight: 300;
}
.mobile-app-icon-list p {
  font-size: 12px;
  font-weight: 700;
}
.software-section {
  background-color: #101928;
}
.software-section-text h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}
.software-section-text p {
  color: #fff;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 300;
}
.software-section-image img {
  width: 100%;
}
.software-section-text {
  position: absolute;
  width: 85%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.software-section-text a {
  background-color: #fff;
  color: #000;
  padding: 10px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}
.booking-management-image {
  display: flex;
  text-align: right;
}
.booking-management-image img {
  margin-bottom: 20px;
}
.booking-management.common-padding {
  padding-right: 0px;
  overflow: hidden;
}
.booking-management-image-second {
  width: 50%;
  margin-left: 20px;
  padding-top: 30px;
}
.booking-management-text {
  width: 90%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.booking-management-text h2 {
  font-size: 40px;
  font-weight: 600;
  width: 80%;
  padding-bottom: 30px;
}
.booking-management-text h3 {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 30px;
}
.booking-software-list {
  border-radius: 10px;
  padding: 30px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.booking-software-list:hover span {
  transform: translateX(10px);
}
.booking-software-list {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.booking-software-list label {
  font-weight: 600;
  font-size: 20px;
}
.booking-software-list-notes {
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.booking-software-list-notes p {
  font-size: 12px;
  display: inline-block;
}
.booking-management-image img {
  cursor: pointer;
}
.booking-management-image img:hover {
  webkit-filter: blur(1px);
  filter: blur(1px);
}
/* Responsive */
@media only screen and (max-width: 1350px) {
  .booking-management-text h2 {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .booking-software-list {
    padding: 20px 10px;
  }
  .booking-software-list label {
    font-size: 16px;
  }
  .booking-management-text h2 {
    font-size: 30px;
  }
  .software-section-text h2 {
    font-size: 28px;
  }
  .powerful-section-text h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .powerful-section-count-list ul li h2 {
    font-size: 24px;
  }
  .banner-form h2 {
    font-size: 30px;
  }
  .search-btn {
    width: 15%;
  }
}
@media only screen and (max-width: 991px) {
  .banner-form h2 {
    font-size: 24px;
  }
  .input-section {
    padding: 5px;
  }
  .custom-input input {
    font-size: 12px;
  }
  .banner-form {
    width: 70%;
  }
  .popular-service {
    padding-top: 30px;
  }
  .powerful-section-text h2 {
    font-size: 24px;
  }
  .booking-management-text {
    width: 100%;
    position: initial;
    top: initial;
    transform: unset;
    margin-bottom: 20px;
  }
  .booking-management-image {
    text-align: center;
  }
  .booking-management-image-second {
    width: 100%;
    margin-left: 0px;
    padding-top: 0px;
  }
  .software-section-text h2 {
    font-size: 18px;
    line-height: 26px;
  }
  .software-section-text p {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .software-section-text a {
    padding: 5px 10px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-app-text-section {
    width: 100%;
    position: initial;
    top: initial;
    transform: unset;
  }
  .software-section-text {
    width: 100%;
    position: initial;
    top: initial;
    transform: unset;
    margin-bottom: 20px;
  }
  .booking-management-image {
    flex-direction: column;
  }
  .booking-management-image-first {
    text-align: center;
  }
  .booking-management-image-second {
    width: 100%;
    text-align: center;
    margin-left: 0px;
    padding-top: 0px;
  }
  .booking-software-list label {
    font-size: 12px;
  }
  .booking-software-list-notes {
    width: 100%;
  }
  .booking-management-text h2 {
    font-size: 20px;
  }
  .powerful-section-count-list ul li h2 {
    font-size: 18px;
  }
  .banner-form h2 {
    font-size: 20px;
  }
  .booking-management-text h2 {
    font-size: 20px;
  }
  .software-section-text h2 {
    font-size: 18px;
    line-height: 30px;
  }
  .welcome-head h3 {
    font-size: 16px;
  }

  .mobile-app-icon-list label {
    font-size: 11px;
  }
  .mobile-app-icon-list h3 {
    font-size: 11px;
  }
  .powerful-section-text h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .powerful-section-text {
    margin-bottom: 20px;
  }
  .powerful-section-count-list ul li label {
    font-size: 14px;
  }
  .mobile-app-img {
    height: 200px;
  }
  .software-section-text p {
    font-size: 14px;
  }
  .feature-card {
    margin-top: 15px;
  }
  .feature-card-section {
    margin-top: 0px;
  }
  .banner-form {
    position: absolute;
    width: 95%;
    margin: 0px auto;
    text-align: center;
    top: 40%;
    left: 2%;
    transform: unset;
  }
  .input-section {
    flex-wrap: wrap;
    padding: 5px 0px;
  }
  .custom-input {
    width: 50%;
  }
  .custom-input input {
    font-size: 10px;
    padding: 0px 5px;
  }
  .search-btn {
    margin: 0px auto;
    width: 20%;
    text-align: center;
  }
  .search-btn a {
    padding: 5px;
    font-size: 10px;
  }
  .popular-service {
    padding-top: 20px;
  }
  .popular-card-section {
    padding-top: 20px;
  }
  .booking-management-image img {
    margin-bottom: 10px;
  }
  .welcome-desc p {
    font-size: 13px;
    padding-bottom: 10px;
  }
  .banner-section{
      height: 400px;
  }
  .search-btn{
    position: absolute;
    bottom: -40px;
    left: 0px;
    right: 0px;
  }
}
