.popular-card-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.popular-card {
  cursor: pointer;
  width: 90%;
  margin-bottom: 10px;
}
.popular-card-content h2 {
  font-size: 14px;
  padding-bottom: 10px;
}
.popular-card-image {
  height: 100px;
}
.popular-card-content {
  background: #fff;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* Responsive */
@media only screen and (max-width: 991px) {
  .popular-card-content h2 {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .popular-card {
    width: 100%;
  }
}
