.header {
  position: absolute;
  top: 0px;
  width: 100%;
}
.header-logo {
  cursor: pointer;
}
.navbar {
  padding: 10px 80px !important;
}
.header .navbar-light .navbar-nav .nav-link a {
  color: #fff;
  font-size: 16px;
  padding: 0px 15px;
}
.header .navbar-light .navbar-nav .nav-link a:hover {
  color: #e45b36;
}
.hamburger .fa {
  font-size: 20px;
  color: #fff;
}
.header-color.navbar-light .hamburger .fa {
  color: #000;
}
.header-color {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.header-color.navbar-light .navbar-nav .nav-link a {
  color: #000;
}
/* Responsive */
@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 10px 50px !important;
  }
}
@media only screen and (max-width: 991px) {
  .navbar {
    padding: 10px 30px !important;
  }
}
@media only screen and (max-width: 767px) {
  .navbar {
    padding: 10px 15px !important;
  }
  .header-logo img {
    width: 150px;
  }
  .hamburger {
    display: none;
  }
  .navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
  }
  .header .navbar-light .navbar-nav .nav-link a {
    padding: 0px;
  }
}
