.copyrights {
  background-color: #e8e8ee;
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
}
.copyrights p {
  font-weight: 300;
  font-size: 14px;
}
.copyrights p a {
  font-weight: 500;
  cursor: pointer;
  color: #000;
}
.footer {
  padding: 40px 80px;
}
.footer-logo li {
  display: inline-block;
  width: 40%;
  margin-bottom: 10px;
}
.footer-logo li svg {
  fill: #868e96;
  width: 30px;
  cursor: pointer;
}
.footer-logo li svg:hover {
  fill: #e45b36;
}
.footer h2 {
  font-size: 18px;
  padding-bottom: 15px;
}
.footer p {
  font-size: 14px;
  font-weight: 300;
}

.footer .footer-text a span {
  color: #e45b36;
  font-weight: 300;
}
.footer-list ul li {
  margin-bottom: 10px;
}
.footer-list ul li a {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  color: #000;
}
.footer-list ul li a:hover {
  font-weight: 600;
}
.footer-btn {
  margin-top: 15px;
}
.footer-btn ul li {
  display: inline-block;
}
.footer-btn ul li:nth-child(1) {
  margin-right: 15px;
}
/* Responsive */
@media only screen and (max-width: 1200px) {
  .footer {
    padding: 40px 50px;
  }
  .copyrights {
    padding: 10px 50px;
  }
}
@media only screen and (max-width: 991px) {
  .footer {
    padding: 30px;
  }
  .copyrights {
    padding: 10px 30px;
  }
  .footer h2 {
    font-size: 14px;
  }
  .footer-list ul li {
    margin-bottom: 5px;
  }
  .footer-list ul li a {
    font-size: 12px;
  }
  .footer p {
    font-size: 12px;
  }
  .footer .footer-text a span {
    font-size: 12px;
  }
  .footer-logo li svg {
    width: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 20px 15px;
  }
  .copyrights {
    padding: 10px 15px;
  }
  .copyrights {
    flex-direction: column;
  }
  .footer-logo li {
    width: 10%;
  }
  .footer h2 {
    padding-bottom: 10px;
  }
  .footer-list {
    padding-top: 20px;
  }
  .footer-logo {
    padding-top: 20px;
  }
}
