/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}
/* Common Css */
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-bottom: 0px !important;
}
ul {
  margin-bottom: 0px !important;
  padding-left: 0px !important;
  list-style: none !important;
}
a {
  text-decoration: none !important;
}
.checked {
  color: orange;
}
.odd {
  background-color: #fff;
}
.even {
  background-color: #f2f2f7;
}
.common-padding {
  padding: 80px;
}
.common-heading h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}
.white-btn {
  display: inline-block;
  padding: 12px 0px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  text-align: center;
  width: 165px;
  border-radius: 6px;
  cursor: pointer;
}
.white-btn:hover {
  background-color: #000;
  color: #fff;
}
.orange-btn:hover {
  background-color: #000;
  color: #fff;
}
.orange-btn {
  cursor: pointer;
  display: inline-block;
  padding: 12px 0px;
  background-color: #e45b36;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 165px;
  border-radius: 6px;
}
.slick-arrow {
  z-index: 9999 !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 25px !important;
  opacity: 1 !important;
}
.slick-next.slick-disabled {
  opacity: 0.75 !important;
}
.slick-prev.slick-disabled {
  opacity: 0.75 !important;
}
.slick-prev {
  left: 0px !important;
}
.slick-next {
  right: 30px !important;
}
button:focus {
  outline: none !important;
}
/* Responsive */
@media only screen and (max-width: 1200px) {
  .common-padding {
    padding: 50px;
  }
  .common-heading h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 991px) {
  .common-padding {
    padding: 30px;
  }
  .white-btn {
    width: 100px;
  }
  .orange-btn {
    width: 100px;
  }
  .common-heading h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .common-padding {
    padding: 20px 15px;
  }
  .common-heading h2 {
    font-size: 19px;
  }
  .slick-next {
    right: 5px !important;
  }
}
