.error-page {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  .error-img {
    width: 300px;
  }
  .error-img img {
    width: 100%;
  }
}
